extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | It simplifies the job search process and connects individuals with flexible work opportunities, offering a wide range of roles that fit varying schedules and skill sets.
 | <br /><br />
 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
